body {
    margin: 0 auto;
    background-color: #ffe800;
}

.main_container {
    width: 414px;
    height: 150px;
    margin: 0 auto;
}

.main_wrapper {
    text-align: center;
}

img {
    height: 192px;
    width: 170px;
}

p {
    color: black;
    font-weight: bold;
}

/*  フッター */

footer {
    margin: 0 auto;
    width: 414px;
    font-size: 11px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;
}

/* ボトムタブ */

.buttom_tab_wrapper {
    /* min-height: 150px; */
    position: relative;
    box-sizing: border-box;
}

.buttom_tab {
    margin-top: 0;
    position: fixed;
    width: 100%;
    height: 10vh;
    background-color: #2c2c2c;
    bottom: 0;
    border-top-color: black;
    border-width: 1px;
    align-items: center;
    display: flex;
}

/* 友達のお題ボタン */

.buttom_tab_firend_post {
    margin: 0 auto;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: 10vw;
    text-align: center;
}

/* 友達のお題ボタンのアイコン */

.friend_post_icon {
    color: white;
    font-size: 3vh;
}

/* お題を作るボタン */

.buttom_tab_button {
    margin: 0 auto;
    width: auto;
    height: auto;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vh;
    text-align: center;
    text-decoration: none;
}

/* お題を作るボタンのアイコン */

.add_post_icon {
    height: 60px;
    width: 60px;
}

/* アカウントボタン */

.buttom_tab_account {
    margin: 0 auto;
    width: auto;
    height: auto;
    margin-left: 10vw;
    text-align: center;
}

/* アカウントボタンのアイコン */

.account_icon {
    color: white;
    font-size: 3vh;
}

/* アイコンのテキスト */

.buttom_tab_text {
    font-size: 1vh;
    width: 6vw;
    text-decoration: none;
    color: white;
}

.buttom_tab_text:hover {
    text-decoration: underline;
}