body {
    margin: 0 auto;
    background-color: black;
    color: white;
}

.profile_header {
    background-color: #2C2C2C;
    height: 25vh;
    padding-bottom: 1vh;
    text-align: center;
}

h3 {
    margin-top: 0;
    padding-top: 3vh;
}

.icon_container {
    display: flex;
    padding-right: auto;
    padding-left: 15vw;
}

.profile_icon {
    margin-right: 2vw;
}

.profile_details {
    padding-top: 3vh;
}

.profile_name {
    margin-right: 3vw;
}

.setting_icon {
    font-size: 50px;
}

.profile_status {
    margin: auto;
}

.setting_icon {
    font-size: 20px;
    margin-bottom: 0;
    text-decoration: none;
    color: white;
}


/* ボトムタブ */

.buttom_tab {
    margin-top: 0;
    position: fixed;
    width: 100%;
    height: 10vh;
    background-color: #2C2C2C;
    bottom: 0;
    border-top-color: black;
    border-width: 1px;
    align-items: center;
    display: flex;
}


/* 友達のお題ボタン */

.buttom_tab_firend_post {
    margin: 0 auto;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: 10vw;
    text-align: center;
}


/* 友達のお題ボタンのアイコン */

.friend_post_icon {
    color: white;
    font-size: 3vh;
}


/* お題を作るボタン */

.buttom_tab_button {
    margin: 0 auto;
    width: auto;
    height: auto;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 5vh;
    text-align: center;
    text-decoration: none;
}


/* お題を作るボタンのアイコン */

.add_post_icon {
    height: 60px;
    width: 60px;
}


/* アカウントボタン */

.buttom_tab_account {
    margin: 0 auto;
    width: auto;
    height: auto;
    margin-left: 10vw;
    margin-right: ;
    text-align: center;
}


/* アカウントボタンのアイコン */

.account_icon {
    color: white;
    font-size: 3vh;
}


/* アイコンのテキスト */

.buttom_tab_text {
    font-size: 1vh;
    width: 6vw;
    color: white;
}