body {
  margin: 0 auto;
  background-color: black;
}

/* ヘッダー */

.header_container {
  width: 100%;
  min-width: 414px;
  height: 64px;
  background-color: #ffe800;
  text-align: center;
  position: fixed;
}

.header_logo {
  padding-top: 7px;
  width: 177px;
  height: 45px;
}

.header_margin {
  width: 100%;
  height: 64px;
}

/*  フッター */

footer {
  margin: 0 auto;
  width: 414px;
  font-size: 11px;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: white;
}

/* ボトムタブ */

.buttom_tab_wrapper {
  min-height: 150px;
  position: relative;
  box-sizing: border-box;
}

.buttom_tab {
  margin-top: 0;
  position: fixed;
  width: 100%;
  height: 10vh;
  background-color: #2c2c2c;
  bottom: 0;
  border-top-color: black;
  border-width: 1px;
  align-items: center;
  display: flex;
}

/* 友達のお題ボタン */

.buttom_tab_firend_post {
  margin: 0 auto;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: 10vw;
  text-align: center;
}

/* 友達のお題ボタンのアイコン */

.friend_post_icon {
  color: white;
  font-size: 3vh;
}

/* お題を作るボタン */

.buttom_tab_button {
  margin: 0 auto;
  width: auto;
  height: auto;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 5vh;
  text-align: center;
  text-decoration: none;
}

/* お題を作るボタンのアイコン */

.add_post_icon {
  height: 60px;
  width: 60px;
}

/* アカウントボタン */

.buttom_tab_account {
  margin: 0 auto;
  width: auto;
  height: auto;
  margin-left: 10vw;
  text-align: center;
}

/* アカウントボタンのアイコン */

.account_icon {
  color: white;
  font-size: 3vh;
}

/* アイコンのテキスト */

.buttom_tab_text {
  font-size: 1vh;
  width: 6vw;
  text-decoration: none;
  color: white;
}

.buttom_tab_text:hover {
  text-decoration: underline;
}

.message_container {
  width: 414px;
  height: 150px;
  margin: 0 auto;
}

.message_wrapper {
  text-align: center;
}

h1 {
  color: white;
}

h4 {
  color: white;
}

/* お題 */

.post_container {
  background-color: #2c2c2c;
  width: 414px;
  height: 280px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  padding-top: 10px;
}

.post_wrapper {
  text-align: center;
  margin: 0 auto;
}

.post_template {
  background-color: -moz-linear-gradient(top, #ffe800, #ffd402);
  background: -webkit-linear-gradient(top, #ffe800, #ffd402);
  background: linear-gradient(to bottom, #ffe800, #ffd402);
  width: 323px;
  height: 200px;
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.post_container_text {
  background-color: rgba(0, 0, 0, 0);
  width: 250px;
  height: 80px;
  font-size: 20px;
  padding: 20px 2px;
  font-weight: bold;
  border: none;
  text-align: center;
  resize: none;
}

.post_button_wrapper {
  width: 323px;
  height: 50px;
  margin: 0 auto;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.like_button_wrapper {
  float: left;
}

/* likeボタン */

.fa-heart {
  color: red;
  margin: 0 10px 0 10px;
  font-size: 25px;
  text-decoration: none;
}

/* Twitterのボタン */

.fa-twitter {
  color: #69ABE8;
  margin: 0 10px 0 10px;
  font-size: 25px;
  text-decoration: none;
}

.answer_button_container {
  width: 323px;
  height: 50px;
  margin: 0 auto;
  padding: 5px;
}

.answer_button_wrapper {
  padding-top: 10px;
  text-align: right;
}

.answer_button {
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  color: black;
  background-color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 25px;
  transition: 0.2s;
  box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.5);
}

.create_button {
  padding: 6px 20px;
  font-size: 16px;
  text-align: center;
  color: black;
  background-color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 25px;
  transition: 0.2s;
  box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.5);
}

.answer_button:hover {
  background-color: #ffe800;
  color: black;
}

/* profile/index */

.profile_header {
  margin: 0 auto;
  color: white;
  text-align: center;
  background-color: #2c2c2c;
  width: 414px;
  height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
}

.fa-cog {
  text-decoration: none;
  color: white;
}

.profile_container {
  width: 414px;
  height: 140px;
  background-color: #2c2c2c;
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
}

.profile_wrapper {
  width: 350px;
  display: flex;
  margin: 0 auto;
  color: white;
}

.profile_detail {
  width: 130px;
  height: 130px;
}

.user_name {
  width: 180px;
}

.profile_icon {
  width: 120px;
  height: 120px;
  padding: 5px;
}

.icon_image {
  width: 80px;
  height: 80px;
}

.counts_container {
  text-align: center;
}

.counts_wrapper {
  display: flex;
}

.counter {
  width: 100px;
  height: 100px;
  margin-left: 5px;
  margin-right: 5px;
}

.counts {
  font-weight: bold;
  font-size: 20px;
}

/* タブ */

.area {
  width: 414px;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
}

.tab_class {
  width: 207px;
  height: 50px;
  background-color: black;
  color: white;
  line-height: 50px;
  font-weight: bold;
  text-align: center;
  display: block;
  float: left;
  order: -1;
}

input[name="tab_name"] {
  display: none;
}

input:checked+.tab_class {
  background-color: black;
  color: #ffe800;
  border-bottom: medium solid white;
}

.content_class {
  display: none;
  width: 100%;
}

input:checked+.tab_class+.content_class {
  display: block;
}

/* 回答 */

.answer_container {
  width: 414px;
  height: 280px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  padding-top: 10px;
}

.answer_wrapper {
  text-align: center;
  margin: 0 auto;
}

.answer_template {
  background-color: white;
  width: 323px;
  height: 200px;
  margin: 0 auto;
  border-radius: 10px;
  /*グラデーション以外は省略*/
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

.answer_container_text {
  width: 250px;
  height: 80px;
  font-size: 20px;
  padding: 20px 2px;
  color: black;
  font-weight: bold;
  border: none;
  text-align: center;
  resize: none;
}

/* proflie/setting */

.setting_container {
  width: 414px;
  margin: 0 auto;
}

.setting_wrapper p {
  color: white;
  font-weight: bold;
  padding-left: 20px;
}

.setting_header {
  height: 30px;
  background-color: #2C2C2C;
  color: white;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

.auto_post {
  background-color: #2C2C2C;
  color: white;
  height: 35px;
  text-align: center;
  padding: 10px;
}

.auto_post_on {
  float: left;
  padding-top: 5px;
  padding-left: 10px;
}

/* iOSボタン */

.switch {
  float: right;
  padding-top: 2px;
}

.switch__label {
  width: 50px;
  position: relative;
  display: inline-block;
}

.switch__content {
  display: block;
  cursor: pointer;
  position: relative;
  border-radius: 30px;
  height: 31px;
  overflow: hidden;
}

.switch__content:before {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% - 3px);
  height: calc(100% - 3px);
  top: 0;
  left: 0;
  border: 1.5px solid #E5E5EA;
  border-radius: 30px;
  background-color: #fff;
}

.switch__content:after {
  content: "";
  display: block;
  position: absolute;
  background-color: transparent;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  border-radius: 30px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.switch__input {
  display: none;
}

.switch__circle {
  display: block;
  top: 2px;
  left: 2px;
  position: absolute;
  -webkit-box-shadow: 0 2px 6px #999;
  box-shadow: 0 2px 6px #999;
  width: 27px;
  height: 27px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background-color: #fff;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.switch__input:checked~.switch__circle {
  left: 21px;
}

.switch__input:checked~.switch__content:after {
  background-color: #4BD964;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.logout {
  background-color: #2C2C2C;
  height: 35px;
  display: flex;
  padding: 10px;
}

.logout a {
  text-decoration: none;
  color: red;
  padding-top: 5px;
  margin: 0 auto;
}

/* posts/send */

.send_container {
  width: 414px;
}

.send_container h1 {
  color: white;
  text-align: center;
  background-color: black;
}

.send_container p {
  color: white;
  text-align: center;
  margin: 5px;
}

.send_post_container {
  width: 414px;
  height: 240px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  padding-top: 10px;
}

.send_post_wrapper {
  text-align: center;
  margin: 0 auto;
}

.add_post_button_container {
  width: 414px;
  height: 80px;
}

.add_post_button {
  margin: 0 auto;
  color: black;
  background-color: #FFD901;
  font-weight: bold;
  width: 280px;
  height: 30px;
  border-radius: 5px;
  padding: 10px 5px 5px 5px;
  text-align: center;
}

.twitter_share_button_container {
  width: 414px;
  height: 80px;
}

.twitter_share_button {
  color: white;
  background-color: #69ABE9;
  font-weight: bold;
  width: 280px;
  height: 30px;
  padding: 10px 5px 5px 5px;
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
}

.twitter_share_button .fab {
  color: white;
  font-size: 18px;
}

/* answer/send */

.send_container {
  width: 414px;
}

.send_container h1 {
  color: white;
  text-align: center;
  background-color: black;
}

.send_container p {
  color: white;
  text-align: center;
  margin: 5px;
}

.send_post_container {
  width: 414px;
  height: 240px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  padding-top: 10px;
}

.send_post_wrapper {
  text-align: center;
  margin: 0 auto;
}

.add_post_button_container {
  width: 414px;
  height: 80px;
}

.add_post_button {
  margin: 0 auto;
  color: black;
  background-color: #FFD901;
  font-weight: bold;
  width: 280px;
  height: 30px;
  border-radius: 5px;
  padding: 10px 5px 5px 5px;
  text-align: center;
}

.twitter_share_button_container {
  width: 414px;
  height: 80px;
}

.twitter_share_button {
  color: white;
  background-color: #69ABE9;
  font-weight: bold;
  width: 280px;
  height: 30px;
  padding: 10px 5px 5px 5px;
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
}

.twitter_share_button .fab {
  color: white;
  font-size: 18px;
}